html{
	height: 100%;
	margin: 0 auto;
}

a{
	color: #454545;
	text-decoration: none;
}
a:hover{
	color:#ECECEC;
	text-decoration: none;
}
section{
	padding: 5px 0px 0px 5px !important; 
}

h1.web_title {
	text-align: center;
	color: #990033;
	margin: 0.2em 0;
	font-size: calc(1.425rem + 1.2vw);
}
h2{
	font-size: calc(1.1rem + 0.9vw);

}

h3{
	font-size: calc(1.3rem + 0.3vw);

}

h4{
	font-size: calc(1.1rem + 0.4vw);
}

#cabecera {
	padding: 1%;
	border-bottom: #AAA 5px solid;
	background-color: #FFF;
	margin-bottom: 2.5%;
}

#nav-asignatura{

	padding-bottom: 1.25% !important;
}

#logout {
	text-align: right;
}

img {
	display: block;
	position: relative;
}

#fichas{
	border-right: #AAA 2px solid;
	overflow: auto !important;
}

#pestannas{
	display: flex;
	border-bottom: #AAA 2px solid;
}

#pestannas div{
	padding: 0.25%;
	border:#AAA 2px solid;
	border-bottom: none !important;
	color:  #454545;
	background-color: #F1EDED;
	cursor: pointer !important;
}
#validacion{
	border-right-width: 1px !important;
}
#configuracion{
	border-right-width: 1px !important;
	border-left-width: 1px !important;
}
#permisos{
	border-left-width: 1px !important;
}
#contenido{
	border-left:#AAA 2px solid;
	height: 752px;
}

#btn-form{
	margin-top: 1.5% !important;
	margin-left: 1% !important;
}

#main-card{
	border: 1px solid #2C3E50;
}

